.login2-background{
    height:1024px;

    display:flex;
    flex-direction:row-reverse;
    justify-content:space-around;

    padding-bottom:20rem;
}



.banner-login2{
    max-width:500px;
    height:auto;

    margin-right:200px;
}

.banner-login2 img{
    align-self: flex-end;
    width:625.19px;
    height:261.33px;
    
   padding-right:150px;

    padding-bottom:60px;

}

.banner-login2 h2{
    font-size: 40px;   
}
.banner-login2 span{ 
    font-size: 30px;
}

.section2{
    width:475px;
    height:180px;
    position:relative;
    margin-top:140px;
    z-index: 1;


    border-radius:30px 30px 30px 30px;

}

/*------------------------------------------*/

.banner-login{
    max-width:475px;
    height:500px;
    border-radius: 30px 30px 30px 30px;

    margin-left:200px;
}

.formulario_label{
    font-size:18px;
}

.formulario_label input{
    font-size: 20px;
}

.banner-login button{
    font-size:20px;
    padding: 20px 0px 20px 0px;
}

.forgot-pass{
   font-size:20px;
}

